{% extends 'base.html' %}

{% block title %}Enter Scores - STEP Gen{% endblock %}

{% block content %}

    
    <h1>Enter Scores for Completed Paper</h1>
    <form method="POST">
        <label for="paper_id">Select a Paper:</label>
        <select name="paper_id" required>
            <option value="">-- Select a Paper --</option>
            {% for paper_id, paper_name in papers %}
                <option value="{{ paper_id }}">{{ paper_name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Mark</button>
    </form>
{% endblock %}
