
{% extends 'base.html' %}

{% block title %}Register - STEP Gen{% endblock %}

{% block content %}
    <h1>Register Page</h1>

    <!--  Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }} {{ form.username }}
            {% if form.username.errors %}
                <ul>
                    {% for error in form.username.errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.password.label }} {{ form.password }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>

    <a href="{{ url_for('login') }}">Already have an account? Log In</a>
{% endblock %}
